body {
    font-family: Arial, sans-serif;
    background-image: url("../img/arena.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 90vh;

    color: #7b7b7b;
}

h1 {
    color: #ffc100;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin-left: 8rem;
}

p {
    color: #ffc100;
    font-size: 1.2em;
    margin-right: 2rem;
    text-shadow: 1px 1px 2px #000000;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#fight{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    flex-direction: row;
    margin-left: 10rem;
    /*background-color: rgba(123, 123, 123, 0.2);*/

}


img {
    width: 150px;
    height: 150px;
    border: 3px solid #ffc100;
    background-color: rgba(123, 123, 123, 0.2);
    box-shadow: 2px 2px 4px #000000;
    opacity: 0.8;
    transition: opacity 2s ease-in-out;
}

img.loaded {
    opacity: 1;
}

#result {
    margin-left: 10rem;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffc100;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    animation: pulse 2s infinite;


}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15rem;
    margin-right: 10rem;
    flex-direction: row;
    background-color: rgba(123, 123, 123, 0.2);
}

button {
    align-items: center;
    background-color: #ec1414;
    color: #f4f4f4;
    border: none;
    border-radius: 12px; /* Ajoute des bordures arrondies */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Ajoute des ombres */
    padding: 15px 32px; /* Augmente la taille du bouton */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Augmente la taille de la police */
    font-family: 'Courier New', Courier, monospace; /* Change la police */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #f4f4f4;
    color: #ec1414;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}